/* div{
  border: solid 1px ;
} */
/*Splash Page CSS */

.twitter-tweet-rendered {
  margin: auto!important;
}
.instagram-media-rendered{
  margin: auto!important;
}
.footer{
  background-color:rgb(28, 35, 56);
  font-family: "Oswald", Sans;
  font-size:1rem;
}
.footer2{
  font-family: "Oswald", Sans;
  font-size:1rem;
  margin-bottom:10px;
}
.subscribe-button{
  height:30px;
}
#splash-button{
  font-weight:normal;
  border:solid white 3px;
}
#splash-button:hover{
  font-weight:normal;
  border:solid white 3px;
  color:#2b3f66;
}
.email{
  border-radius:3px;
  width: 160px;
}
#map-page{
  z-index: 0;
}
#splash-bg{
  z-index: 100;
  height: 100vh;
  background-image:linear-gradient(
  	               rgba(44, 34, 93, 0.3),
  	               rgba(44, 34, 93, 0.8)),
                   url("../img/splash-bg.jpg")
}

#splash-color{
  background-color:rgba(44, 34, 93, 0.8);
}
#splash-title{
  margin-top:125px

}
#splash-title{
  font-weight:bold;
  font-size:75px;
  color:white;

}



#splash-text{
  font-family: 'Open Sans', sans-serif !important;
  font-weight:normal;
  font-size:1.95rem;

  color:white;
  margin-top:20px
}
.index-title{
  text-align: center;
  vertical-align: middle;
}
.splash-hero{
  -webkit-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  z-index: 0;


}

@-webkit-keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




/*Main Page CSS */

#title{
  background-color:rgb(44, 55, 89);
}
.bg {

  background: linear-gradient(0deg,rgba(87, 72, 155, 0.5),rgba(87, 72, 155, 0.3)), url('../img/fullbg.jpg');
  background-size: cover;
  background-position:center;

}
/*.map-1 {
    padding-top: 50px;
}*/
h1{
  font-size:50px;
}
/* .map-1 {
    filter: drop-shadow(5px 5px 15px #222);
    max-width: 80%;
    max-height: 80%;
} */

html,
body {
   width: auto;
   height: 100vh;
   overflow: hidden;
   font-family: 'Oswald';
   -webkit-overflow-scrolling: touch;
}

#social-content-parent {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#social-content-parent:after {
	position: absolute;
	width: 100%;
	height: 100%;
	background:linear-gradient(transparent 150px, white);
	left:0;
  top:0;
}

a:hover{
  color: #3b94d9;
}

a {
  color: #2b7bb9;
}

.post a{
  color: #ffe0b5;
}

.endingScroll {
    margin-top: 1600px;
}

.header {
    background-color:rgb(44, 55, 89);
    text-shadow: 3px 4px 8px #505050;
}

@media (max-width: 576px) {
  #splash-title{
    /* margin-top:125px; */
    font-size: 2rem;
  }
  #splash-text{
    font-size: 1rem;
  }
  .index-title{
    font-size: 1.0rem;
  }
  #splash-button{
    font-size: 1.1rem;
  }
  #list-nav{
  font-size: 0.8rem;
  }
}
@media (min-width: 576px) {
  .index-title{
    font-size: 2rem;
  }
  #splash-title{
    /* margin-top:125px; */
    font-size: 3rem;
  }
  #splash-text{
    font-size: 2rem;
  }
  #splash-button{
    font-size: 1.5rem;
  }
  #list-nav{
  font-size: 0.8rem;
  }

}
@media (min-width: 992px) {
#list-nav{
  font-size: 1rem;
  }
}
@media (min-width: 1200px) {

}
/* Map Viz CSS */
/* https://coolors.co/fdffff-b10f2e-570000-280000-de7c5a */
.marker {
    opacity: 1;
    fill: #b10f2e; 
    stroke-width: 5;
    stroke: black;

    /* -webkit-filter: drop-shadow( 1px 1px 2px #000 );
    filter: drop-shadow( 1px 1px 2px #000 ); */
}
.marker:hover {
    /* fill: #c65067; */
    opacity: 1;
}

.marker-chapter-3 {
    fill: #bd0026;
}
.marker-chapter-1 {
    fill: #58ACB5;
}
.marker-chapter-2 {
    fill: #fd8559;
}
.marker-chapter-4 {
    fill: #9FCD5E;
}
.marker-chapter-5 {
    fill: #FBC35D;
}
.marker-chapter-6 {
    fill: #FD8559;
}
.marker-chapter-7 {
    fill: #A61543;
}

.chapter-header {
  font-family: 'Open Sans', sans;
  font-size: 14px;
  /*background-color: #a6cee3;*/
  background-color: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px;
  border: 0px lightgrey solid;
  border-radius: 5px;
}
.nav-margin{
  margin-right: -15px;
  margin-left: -15px;
}
#list-nav{
  font-family: "Open Sans", sans;
  text-transform: uppercase;
  list-style-type: none;
}

p {
  font-family: 'Open Sans', sans-serif !important;
}
h3{
  font-weight: bold;
  font-family: 'Oswald';
  font-size: 2.2rem;
}

h1{
  font-family: 'Oswald';
  font-size: 1.8rem;
}
h4{
  color:white;
}

#chapter-3 * {
    color: #bd0026;
}
#chapter-1 * {
    color: #58ACB5;
}
#chapter-2 * {
    color: #fd8559;
}
#chapter-4 * {
    color: #9FCD5E;
}
#chapter-5 * {
    color: #FBC35D;
}
#chapter-6 * {
    color: #FD8559;
}
#chapter-7 * {
    color: #A61543;
}

#list-nav span:hover {
  cursor: pointer;
}

#li-chapter-3 {
    color: #bd0026;
}
#li-chapter-1  {
    color: #58ACB5;
}
#li-chapter-2  {
    color: #fd8559;
}
#li-chapter-4 {
    color: #9FCD5E;
}
#li-chapter-5 {
    color: #FBC35D;
}
#li-chapter-6 {
    color: #FD8559;
}
#li-chapter-7 {
    color: #A61543;
}


.states {
  stroke: #0a090c;
  stroke-width: 1px;
  fill: #f0edee
  stroke-linejoin: round;
}
.states :hover {
  fill: red;
  opacity: 1.0;
}
.state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
/* Make the chart container fill the page using CSS. */
#map {
  fill: #fdffff;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-filter: drop-shadow( 3px 3px 2px #000 );
  filter: drop-shadow( 3px 3px 2px #000 );
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 0.8em sans-serif;
    color: #fdffff;
    background: #280000;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

.hidden {
    opacity: 0.2;
    transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}
.hidden-marker {
    opacity: 0.3;
    transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -webkit-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
}
.active {
    opacity: 1;
    transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}
