/* div{
  border: solid 1px ;
} */
/*Splash Page CSS */

.twitter-tweet-rendered {
  margin: auto!important;
}
.instagram-media-rendered{
  margin: auto!important;
}
.footer{
  background-color:rgb(28, 35, 56);
  font-family: "Open Sans", Sans;
  font-size:1rem;
}
.footer2{
  font-family: "Open Sans", Sans;
  font-size:1rem;
  margin-bottom:px;
}
.subscribe-button{
  height:30px;
}
#splash-button{
  font-weight:normal;
  font-size:40px;
  color:white;
  margin-top:40px
  border:solid white 3px;
}
#splash-button:hover{
  font-weight:normal;
  font-size:40px;
  margin-top:40px
  color:#2b3a63;
  border:solid white 3px;
}
.email{
  border-radius:3px;
}
#map-page{
  z-index: 0;
}
#splash-bg{
  z-index: 100;
  height: 100vh;
  background-image:linear-gradient(
  	               rgba(44, 34, 93, 0.3),
  	               rgba(44, 34, 93, 0.8)),
                   url("../img/splash-bg.jpg")
}

#splash-color{
  background-color:rgba(44, 34, 93, 0.8);
}
#splash-title{
  margin-top:125px

}
#splash-title{
  font-weight:bold;
  font-size:75px;
  color:white;

}
#splash-text{
  font-family: 'Open Sans', sans-serif !important;
  font-weight:normal;
  font-size:1.95rem;

  color:white;
  margin-top:20px
}
.index-title{
  font-size: 2.5rem;
  text-align: center;
  vertical-align: middle;
}
.splash-hero{
  -webkit-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  z-index: 0;


}

@-webkit-keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




/*Main Page CSS */

#title{
  background-color:rgb(44, 55, 89);

}
.bg {

  background: linear-gradient(0deg,rgba(87, 72, 155, 0.5),rgba(87, 72, 155, 0.3)), url('../img/fullbg.jpg');
  background-size: cover;
  background-position:center;

}
.social-logos{
  display:none;
}
#yrlogofull{
  display:none;
}
#yrlogocircle{
  display:block;
}
/*.map-1 {
    padding-top: 50px;
}*/
h1{
  font-size:50px;
}
/* .map-1 {
    filter: drop-shadow(5px 5px 15px #222);
    max-width: 80%;
    max-height: 80%;
} */

html,
body {
   width: auto;
   height: 100vh;
   overflow: hidden;
   font-family: 'Oswald';
   -webkit-overflow-scrolling: touch;
}

#social-content-parent {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#social-content-parent:after {
	position: absolute;
	width: 100%;
	height: 100%;
	background:linear-gradient(transparent 150px, white);
	left:0;
  top:0;
}

a:hover{
  color: #3b94d9;
}

a {
  color: #2b7bb9;
}

.post a{
  color: #ffe0b5;
}

.endingScroll {
    margin-top: 1600px;
}

.header {
    background-color:rgb(44, 55, 89);
    text-shadow: 3px 4px 8px #505050;
}

@media (max-width: 414px) {
    .details
    h2,
    h3 {
        font-size: 25px !important;
    }
    h1 {
      font-size: 35px;
    }

    #splash-title{
    margin-top:125px;
    font-size: 30px;

}

#splash-text{
  font-size:15px;
}

}

@media (min-width: 580px) {
   #yrlogofull{
      display:block;
    }
    #yrlogocircle{
      display:none;
    }

}

@media (max-width: 620px) {
  .index-title{
    font-size: 1.2rem;
  }
}
@media (max-width: 320px) {
  .index-title{
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) and (min-width: 0px) {


}
@media (min-width: 992px) {

    .header {
        background-color: transparent;
    }
    .social-logos{
      display:inline-block;
    }
    #yrlogofull{
      display:block;
    }
    #yrlogocircle{
      display:none;
    }
    .map-1 {
        padding-top: 100px;
    }
}

/* Map Viz CSS */
/* https://coolors.co/fdffff-b10f2e-570000-280000-de7c5a */
.marker {
    opacity: 1;
    fill: #b10f2e;
    /* -webkit-filter: drop-shadow( 1px 1px 2px #000 );
    filter: drop-shadow( 1px 1px 2px #000 ); */
}
.marker:hover {
    /* fill: #c65067; */
    opacity: 0.8;
}
.marker-chapter-1 {
  fill: #D65F23;
}
.marker-chapter-2 {
    fill: #FF8552;
}
.marker-chapter-3 {
    fill: #FFAC54;
}
.marker-chapter-4 {
    fill: #FFA95C;
}
.marker-chapter-5 {
    fill: #FFD866;
}
.marker-chapter-6 {
    fill: #A6D154;A6D154
}
.marker-chapter-7 {
    fill: #fdbf6f;
}

.chapter-header {
  font-family: 'Open Sans', sans;
  font-size: 14px;
  /*background-color: #a6cee3;*/
  background-color: white;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px;
  border: 0px lightgrey solid;
  border-radius: 5px;
}


p {
  font-family: 'Open Sans', sans-serif !important;
}
h3{
  font-weight: bold;
  font-family: 'Oswald';
  font-size: 2.2rem;
}

h1{
  font-family: 'Oswald';
  font-size: 1.8rem;
}


#chapter-1 h4{
  color: #D65F23;
}

#chapter-1 h3{
  color: #D65F23;
}

#chapter-2 h4{
  color: #FF8552;
}
#chapter-2 h3{
  color: #FF8552;
}
#chapter-3 h4{
  color: #FFA95C;
}
#chapter-3 h3{
  color: #FFAC54;
}
#chapter-4 h4{
  color: #FFA95C;
}
#chapter-4 h3{
  color: #FFA95C;
}
#chapter-5 h4{
  color: #FFD866;
}
#chapter-5 h3{
  color: #FFD866;
}
#chapter-6 h4{
  color: #A6D154;
}
#chapter-6 h3{
  color: #A6D154;
}
#chapter-7 h4{
  color: #fdbf6f;
}
#chapter-7 h3{
  color: #fdbf6f;
}


#chapter-2 {
  /*background-color: #1f78b4;*/
}
#chapter-3 {
  /*background-color: #b2df8a;*/
}
#chapter-4 {
  /*background-color: #33a02c;*/
}
#chapter-5 {
  /*background-color: #fb9a99;*/
}
#chapter-6 {
  /*background-color: #e31a1c;*/
}
#chapter-7 {
  /*background-color: #fdbf6f;*/
}


.states {
  stroke: #0a090c;
  stroke-width: 1px;
  fill: #f0edee
  stroke-linejoin: round;
}
.states :hover {
  fill: red;
  opacity: 1.0;
}
.state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
/* Make the chart container fill the page using CSS. */
#map {
  fill: #fdffff;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-filter: drop-shadow( 3px 3px 2px #000 );
  filter: drop-shadow( 3px 3px 2px #000 );
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 0.8em sans-serif;
    color: #fdffff;
    background: #280000;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}
